<footer class="panel--centered" role="contentinfo">
  <div class="grid">
    <div class="centered">
    	<img class="img--avatar" src="https://pbs.twimg.com/profile_images/646820679971684355/0qNLLyFa.jpg">
      <p>{{ site.description }} <br>
        Follow me <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank">@{{ site.twitter_username }}</a>
        <ul class="social-links">
          <li id="resume"><a target="_blank" href="http://resume.linkedinlabs.com/9zxrxkudg" title="@henryarb92"><i class="fa fa-file-pdf-o fa-3x"></i></a></li>
          <li id="linkedin"><a href="https://www.linkedin.com/in/henryarb92" target="_blank" title="Linkedin"><i class="fa fa-linkedin-square fa-3x"></i></a></li>
          <li id="twitter"><a href="https://twitter.com/henryarb92" title="Follow on Twitter" target="_blank"><i class="fa fa-twitter-square fa-3x"></i></a></li>
          <li id="github"><a href="https://github.com/arbolaez001" title="Github" target="_blank"><i class="fa fa-github-square fa-3x"></i></a></li>
          <li id="codepen"><a href="https://codepen.io/henryarb92" title="Codepen" target="_blank"><i class="fa fa fa-codepen fa-3x"></i></a></li>
        </ul>
         <br>
        Subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
      </p>
    </div>
  </div>
</footer>
